<!-- editar-producto.component.html -->
<div class="container">
    <div class="row justify-content-center">
      <div class="col-6">
        <div class="card">
          <div class="card-body">
            <form (ngSubmit)="guardarProducto()">
              <div class="form-group">
                <label for="codigo">Código</label>
                <input id="codigo" [(ngModel)]="productoForm.codigo" name="codigo" placeholder="Código" class="form-control">
              </div>
              <div class="form-group">
                <label for="descripcion">Descripción</label>
                <input id="descripcion" [(ngModel)]="productoForm.descripcion" name="descripcion" placeholder="Descripción" class="form-control">
              </div>
              <div class="form-group">
                <label for="precio">Precio</label>
                <input id="precio" [(ngModel)]="productoForm.precio" name="precio" placeholder="Precio" class="form-control">
              </div>
              <button type="submit" class="btn btn-success">Guardar cambios</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div><br>
  
  <div class="container mt-5">
    <a routerLink="/">Volver</a>
  </div>
  